<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azapps.callrecorder">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />


    <!--for the message sms-->
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />


    <!-- Admob -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Billing for in-app purchases -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name="com.Utils.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.azapps.callrecorder.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.azapps.callrecorder.WavePlayActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.azapps.callrecorder.ActRecording"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.messages.ActMessages"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.messages.ActMyMessages"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.messages.ActConvoMessageBox"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.messages.ActAllMessageBox"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.screen.ActScreenshot"
            android:screenOrientation="portrait" />

     <!--   <receiver
            android:name="com.azapps.receivers.MyCallReceiver"
            android:enabled="true"
            android:exported="true"
            android:priority="0">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>-->

        <receiver
            android:name="com.azapps.receivers.MyCallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <!--
        android:enabled="false" to prevent system creation... Actually, not needed here at all since it is only used internally...
        <receiver
            android:naazappsreceivers.MyBroadcastReceiver"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:naazappsNEW_RECORDING_ACTION" />
            </intent-filter>
            <intent-filter>
                <action android:naazappsRECORDING_DELETED_BROADCAST" />
            </intent-filter>
        </receiver>
        -->
        <activity
            android:name="com.azapps.callrecorder.WhitelistActivity"
            android:label="@string/title_activity_whitelist"
            android:parentActivityName="com.azapps.callrecorder.MainActivity" >
        <!-- The meta-data element is needed for versions lower than 4.1 -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.azapps.callrecorder.MainActivity" />
        </activity>

        <activity
            android:name="com.azapps.callrecorder.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.azapps.callrecorder.MainActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.azapps.callrecorder.MainActivity" />
        </activity>

        <service
            android:name="com.azapps.services.RecordCallService"
            android:exported="false" />
        <service
            android:name="com.azapps.services.CleanupService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.azapps.receivers.MyAlarmReceiver"
            android:enabled="true"
            android:exported="true"></receiver>




        <service android:name="com.messages.MessagingService">
        </service>

        <receiver
            android:name="com.messages.MessageReadReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.android.messagingservice.ACTION_MESSAGE_READ"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.messages.MessageReplyReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.android.messagingservice.ACTION_MESSAGE_REPLY"/>
            </intent-filter>
        </receiver>



        <!--for the sms-->
        <receiver android:name="com.messages.SmsBroadcastReceiver" android:exported="true" >
            <intent-filter android:priority="999" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>



        <!--for the screen capture service-->
        <service
            android:name="com.screen.ScreenshotService"
            android:exported="true" />



        <!--for the alarm study reminder-->
        <!--for the Alarm Receiver-->
       <!-- <receiver android:name="com.alarm.AlarmManagerBroadcastReceiver">
            <intent-filter>
                <action android:name="NOTIFICATION_SERVICE" />
            </intent-filter>
        </receiver>-->

        <receiver
            android:enabled="true"
            android:exported="true"
            android:name="com.Utils.ReceiverRunOnStartup"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>